@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family:  'Poppins', sans-serif;

}

.main-certification{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

width: 100%;
padding: 50px;


}
h1{
    text-align: center;
}
img{
    height:250px; 
    width:80%;
  cursor: pointer;
}